<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Expedientes Alumnos</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-menu2"> 
		<a class="navbar-brand" href="#"><img alt="" src="img/logo.jpeg"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"><img alt="" src="img/logo.jpeg"></span>
	  </button>
	  <div style="width: 100%;text-align: right">
            <a class="btn btn-secondary btn-light" type="button" aria-haspopup="true" aria-expanded="false" href="/logout"> 
                    Cerrar Sesión
                  </a>
	  </div>
	 </nav>

	<div class="container formularios">
		<h1 class="center">Expedientes de alumnos</h1> 
		<form action="post" th:action="@{/tablaExpediente2}">
			<div class="row">
			    <div class="col-md">
				  	  <div class="form-group">
					    <label for="Select1">Buscar Alumno por:</label>
					    <select class="form-control" id="Select1" name="criterio">
					      <option value="">Seleccione una opción</option>
					      <option id="valor1" value="1">Nombre</option>
					      <option id="valor2" value="2">Apellido</option>
					    </select>
					    <span th:if="${mensaje1 == 1}" style="color: yellow">Debe poner el tipo de busqueda!</span>
					  </div>
				  </div>
			    <div class="col-md">
				  <div class="form-group">
					    <label for="Input1">Valor de búsqueda:</label>
					    <input type="text" name="busqueda" class="form-control" id="Input1">
					    <span th:if="${mensaje2 == 1}" style="color: yellow">Debe poner el valor de busqueda!</span>
				  </div>
			    </div>
			</div>
			<button type="submit" class="btn color-btnSesion">Buscar</button>
		</form>
		<div class="nuevoDato">
			<a class="btn bg-dark text-white" href="registroAlumno">Agregar Nuevo Expediente</a>
		</div>
	</div>

</body>
</html>