<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<form th:action="@{/updateMateria}" th:object="${materia}"
		method="post">
		<input type="hidden" name="id" th:field="*{idMateria}" /> <label>Nombres:
		</label> <input type="text" id="nombre" th:field="*{nombre}"> <br>
		<label>Apellido: </label> <input type="text" id="apellido"
			th:field="*{descripicion}"> <br>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="exampleRadios"
				id="exampleRadios2" th:field="*{estado}" th:value="${true}">
			<label class="form-check-label" for="exampleRadios2"> Activa
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="exampleRadios"
				id="exampleRadios3" th:field="*{estado}" th:value="${false}">
			<label class="form-check-label" for="exampleRadios3">
				Inactiva </label>
		</div>


		<input type="submit" value="ActualizarMateria"><br>

	</form>
	<br>


</body>
</html>