<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Nombre</th>
		      <th scope="col">Apellido</th>
		      <th scope="col">aprobado</th>
		      <th scope="col">reprobada</th>
		      <th scope="col">promedio</th>
		    </tr>
		  </thead>
		  <tbody:block th:each="e, row:${usuario}">

		    
		      <td th:text="${e.nombre}"/>
		      <td th:text="${e.apellido}"/>
		      <td th:text="${e.aprobadas}"/>
		      <td th:text="${e.reprobadas}"/>
		      <td th:text="${e.prom}"/>
		    </tr>
		  </tbody>
		</table>
</body>
</html>