<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registro</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container formularios">
		<h1 class="center">Registrar nuevo usuario</h1> 
		<form action="">
			<div class="row">
			    <div class="col-md">
			      <div class="form-group">
					    <label for="Input1">Nombre</label>
					    <input type="text" class="form-control" id="Input1" placeholder="name@example.com">
				  </div>
			    </div>
			    <div class="col-md">
			      	<div class="form-group">
					    <label for="Input1">Apellido</label>
					    <input type="text" class="form-control" id="Input1" placeholder="name@example.com">
					</div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-md">
			      	<div class="form-group">
					    <label for="Input1">Fecha de nacimiento</label>
					    <input type="date" class="form-control" id="Input1" placeholder="name@example.com">
					</div>
			    </div>
			    <div class="col-md">
			      	<div class="form-group">
					    <label for="Input1">Edad</label>
					    <input type="text" class="form-control" id="Input1" placeholder="name@example.com">
					</div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-md">
			      	<div class="form-group">
					    <label for="Select1">Departamento</label>
					    <select class="form-control" id="Select1">
					      <option>1</option>
					      <option>2</option>
					      <option>3</option>
					      <option>4</option>
					      <option>5</option>
					    </select>
					  </div>
			    </div>
			    <div class="col-md">
			      	<div class="form-group">
					    <label for="Select1">Municipio</label>
					    <select class="form-control" id="Select1">
					      <option>1</option>
					      <option>2</option>
					      <option>3</option>
					      <option>4</option>
					      <option>5</option>
					    </select>
					  </div>
			    </div>
			</div>
			<div class="form-group">
				    <label for="exampleFormControlTextarea1">Dirección de residencia</label>
				    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
				  </div>
				<div class="row">
				    <div class="col-md">
				      <div class="form-group">
						    <label for="Input1">Nombre de usuario</label>
						    <input type="text" class="form-control" id="Input1" placeholder="name@example.com">
					  </div>
				    </div>
				    <div class="col-md">
				      	<div class="form-group">
						    <label for="Input1">Contraseña</label>
						    <input type="password" class="form-control" id="Input1" placeholder="name@example.com">
						</div>
				    </div>
				</div>
				<div class="form-group">
				    <label for="Select1">Tipo de usuario</label>
				    <select class="form-control" id="Select1">
				      <option>1</option>
				      <option>2</option>
				      <option>3</option>
				      <option>4</option>
				      <option>5</option>
				    </select>
				  </div>
				  <div class="btn-center">
				  	<button type="submit" class="btn color-btnSesion">Registrar</button>
				  </div>
		</form>
	</div>
</body>
</html>