<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registrar materia cursada</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<div class="container formularios alumnoFrm">
		
		<div class="form-group">
			<label for="Input1">Nombre del alumno</label>
			<input type="text" th:field="${estu.nombre}" class="form-control" id="boton">
			<!-- th:value="${id}" -->
		</div>
	</div>

	<div class="container formularios materiaForm">
		<h1 class="center">Materia cursada</h1> 
		<form th:action="@{/insertarMateriaAlumno}" th:object="${materiaAlumno}" method="post">
			<input type="hidden" th:value="${estu.idEstudiante}" class="form-control" name="id" id="boton2">
			<div class="form-group">
				<label for="Select1">Materia</label>
				<select class="form-control" th:field="*{materia}" id="Select1">
					<option value="0">Seleccione una opción</option>
				    <option th:each=item:${materiaLista}
				    		th:value="${item.idMateria}" th:text="${item.nombre}"></option>
				</select>
				<span th:if="${resultado == 1}" style = "color: #BF2121">Debe seleccionar una materia</span>
			</div>
						
			<div class="form-group">
				<label for="Input1">Año</label>
				<input type="number" class="form-control" th:field="*{anio}" id="Input1">
			</div>
			<div class="form-group">
				<label for="Input1">Ciclo</label>
				<input type="number" class="form-control" th:field="*{ciclo}" id="Input1">
			</div>
			<div class="form-group">
				<label for="Input1">Nota</label>
				<input type="number" class="form-control" th:field="*{nota}" id="Input1">
			</div>
			<div class="btn-center">
				<button type="submit" class="btn color-btnSesion">Registrar</button>
			</div>
		</form>
	</div>

</body>

</html>