<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registrar materia cursada</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<div class="container formularios alumnoFrm">
		<form action="">
			<div class="form-group">
				<label for="Input1">Nombre del alumno</label>
				<input type="text" class="form-control" id="Input1">
			</div>
		</form>
	</div>

	<div class="container formularios materiaForm">
		<h1 class="center">Materia cursada</h1> 
		<form action="">
			<div class="form-group">
				<label for="Select1">Materia</label>
				<select class="form-control" id="Select1">
					<option>Seleccione una opción</option>
				    <option>2</option>
				    <option>3</option>
				    <option>4</option>
				    <option>5</option>
				</select>
			</div>
			<div class="form-group">
				<label for="Input1">Año</label>
				<input type="text" class="form-control" id="Input1">
			</div>
			<div class="form-group">
				<label for="Input1">Ciclo</label>
				<input type="text" class="form-control" id="Input1">
			</div>
			<div class="form-group">
				<label for="Input1">Nota</label>
				<input type="text" class="form-control" id="Input1">
			</div>
			<div class="btn-center">
				<button type="submit" class="btn color-btnSesion">Registrar</button>
			</div>
		</form>
	</div>

</body>
</html>