<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registro alumno</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container formularios">
		<h1 class="center">Registrar nuevo Alumno</h1>
		<form th:action="@{/registroEstudiante}" th:object="${estudiante}" method="post">
			<div class="form-group">
				<input type="hidden"
					class="form-control" id="Input1" 
					th:field="*{idEstudiante}">
			</div>
			<div class="row">
				<div class="col-md">
					<div class="form-group">
						<label for="Input1">Nombre</label> <input type="text" th:field="*{nombre}"
							class="form-control" id="Input1"><span th:errors="*{nombre}" style="color: #FF0000"></span>
					</div>
				</div>
				<div class="col-md">
					<div class="form-group">
						<label for="Input1">Apellido</label> <input type="text" th:field="*{apellido}"
							class="form-control" id="Input1"><span th:errors="*{apellido}" style="color: #FF0000"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md">
					<div class="form-group">
						<label for="Input1">Número de carnet</label> <input type="text" th:field="*{carnet}"
							class="form-control" id="Input1"><span th:errors="*{carnet}" style="color: #FF0000"></span>
					</div>
				</div>
				<div class="col-md">
					<div class="form-group">
						<label for="Input1">Fecha de nacimiento</label> <input type="date" th:field="*{fechaNac}"
							class="form-control" id="Input1">
					</div>
				</div>
				<div class="col-md">
					<div class="form-group">
						<label for="Input1">Edad</label> <input type="text" th:field="*{edad}"
							class="form-control" id="Input1">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Dirección de
					vivienda</label>
				<textarea th:field="*{direccion}" class="form-control" id="exampleFormControlTextarea1" 
					rows="3"></textarea><span th:errors="*{direccion}" style="color: #FF0000"></span>
			</div>
			<div class="row">
				<div class="col-md">
					<div class="form-group">
						<label for="Input1">Télefono fijo</label> <input type="text" th:field="*{telefonoFijo}"
							class="form-control" id="Input1"><span th:errors="*{telefonoFijo}" style="color: #FF0000"></span>
					</div>
				</div>
				<div class="col-md">	
					<div class="form-group">
						<label for="Input1">Télefono móvil</label> <input type="text" th:field="*{telefonoMovil}"
							class="form-control" id="Input1"><span th:errors="*{telefonoMovil}" style="color: #FF0000"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md">
					<div class="form-group">
						<label for="Select1">Departamento</label> <select th:field="*{departamento}"
							class="form-control" id="Select1">
							<!--  th:field="*{departamento.idDepartamento}"  -->
							<option value="0">Seleccione una opción</option>
							<option th:each=item:${departamentoLista}
								th:value="${item.idDepartamento}"
								th:text="${item.nombreDepartamento}">
						</select>
						<span th:if="${resultado == 1}" style = "color: #BF2121">Debe seleccionar un departamento</span>
					</div>
				</div>
				<div class="col-md">
					<div class="form-group">
						<label for="Select2">Municipio</label> <select th:field="*{municipio}"
							class="form-control" id="Select2">
							<!--  th:field="*{municipio.idMunicipio}"  -->
							<option value="0">Seleccione una opción</option>
							<option th:each=item:${municipioLista}
								th:value="${item.idMunicipio}" th:text="${item.nombreMunicipio}">
						</select>
						<span th:if="${resultado1 == 1}" style = "color: #BF2121">Debe seleccionar un municipio</span>
					</div>
				</div>
				<div class="col-md">
					<div class="form-group">
						<label for="Select3">Centro escolar: </label> <select th:field="*{centroEscolar}"
							class="form-control" id="Select3">
							<!--  th:field="*{municipio.idMunicipio}"  -->
							<option value="0">Seleccione una opción</option>
							<option th:each=item:${centro}
								th:value="${item.idCentroEscolar}" th:text="${item.nombre}">
						</select>
						<span th:if="${resultado2 == 1}" style = "color: #BF2121">Debe seleccionar un centro escolar</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md">
					<div class="form-group">
						<label for="Input1">Nombre del padre</label> <input type="text" th:field="*{nombrePadre}"
							class="form-control" id="Input1"><span th:errors="*{nombrePadre}" style="color: #FF0000"></span>
					</div>
				</div>
				<div class="col-md">
					<div class="form-group">
						<label for="Input1">Nombre de la madre</label> <input type="text" th:field="*{nombreMadre}"
							class="form-control" id="Input1"><span th:errors="*{nombreMadre}" style="color: #FF0000"></span>
					</div>
				</div>
			</div>
			<div class="btn-center">
				<button type="submit" class="btn color-btnSesion">Registrar</button>
			</div>
		</form>
	</div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
		$(document).ready(function(){
			$('#Select1').change(function(){
				var pri = document.getElementById("Select1").value;
				$.ajax({
					type: "POST",
					"serverSide": true,
					url: "./cargarMunicipios",
		            data: { draw : pri },
					success:function(r){
						$('#Select2').empty();
						var select = document.getElementById("Select2");
						$("<option/>").val(0).text("Seleccione una opcion").appendTo("#Select2");
						$.each(r, function(key, val) {
							$("<option/>").val(r[key][0]).text(r[key][1]).appendTo("#Select2");
					    });
					},
				    error: function(data) {
				        alert('error');
				      }
				})
			});
		})
		
		$(document).ready(function(){
			$('#Select2').change(function(){
				var pri = document.getElementById("Select2").value;
				$.ajax({
					type: "POST",
					"serverSide": true,
					url: "./cargarCentroEscolar",
		            data: { draw : pri },
					success:function(r){
						$('#Select3').empty();
						var select = document.getElementById("Select3");
						$("<option/>").val(0).text("Seleccione una opcion").appendTo("#Select3");
						$.each(r, function(key, val) {
							$("<option/>").val(r[key][0]).text(r[key][1]).appendTo("#Select3");
					    });
					},
				    error: function(data) {
				        alert('error');
				      }
				})
			});
		})
		
		
</script>	