<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registrar materia</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<div class="container formularios materiaForm">
		<h1 class="center">Registrar nueva materia</h1>
		<form th:action="@{/insertarMateria}" th:object="${materia}"
			method="post">
			<div class="form-group">
				<label for="Input1">Nombre</label> <input type="text"
					class="form-control" id="Input1" placeholder="N-Capas"
					th:field="*{nombre}"> <span th:errors="*{nombre}"
					style="color: #EDF625;"></span>
			</div>
			<div class="form-group">
				<label for="Textarea1">Descripción</label>
				<textarea class="form-control" id="Textarea1" rows="3"
					placeholder="Materia entretenida" th:field="*{descripicion}"></textarea>
				<span th:errors="*{descripicion}" style="color: #EDF625;"></span>
			</div>
			<div class="row">
				<div class="col-md">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="exampleRadios"
							id="exampleRadios2"  th:field="*{estado}" th:value="${true}"> <label
							class="form-check-label" for="exampleRadios2"> Activa </label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="exampleRadios"
							id="exampleRadios3" th:field="*{estado}" th:value="${false}"> <label
							class="form-check-label" for="exampleRadios3" > Inactiva </label>
					</div>
				</div>
				<div class="btn-center">
					<button type="submit" class="btn color-btnSesion">Registrar</button>
				</div>
		</form>
	</div>

</body>
</html>