<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registro</title>

<!-- Hojas de estilo de bootstrap y propio -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-menu2"> 
		<a class="navbar-brand" href="#"><img alt="" src="img/logo.jpeg"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"><img alt="" src="img/logo.jpeg"></span>
	  </button>
	  <div style="width: 100%;text-align: right" th:if="${tipo == 1}">
            <a class="btn btn-secondary btn-light" type="button" aria-haspopup="true" aria-expanded="false" href="/logout"> 
                    Cerrar Sesión
                  </a>
	  </div>
	 </nav>
	
	<div class="container formularios">
		<h1 class="center">Registrar nuevo usuario</h1>
		<form th:action="@{/ingresarUsuario}" th:object="${usuario}" method="post">
			<div class="form-group">
				<input type="hidden" class="form-control" id="id" th:field="*{idUsuario}"> 
			</div>
			<div class="row">
				<div class="col-md">
					<div class="form-group">
						<label for="nombre">Nombre</label> <input type="text"
							class="form-control" id="nombre" th:field="*{nombre}"> <span
							th:errors="*{nombre}" style="color: yellow;"></span>
					</div>
				</div>
				<div class="col-md">
					<div class="form-group">
						<label for="apellido">Apellido</label> <input type="text"
							class="form-control" id="apellido" th:field="*{apellido}"> <span
							th:errors="*{apellido}" style="color: yellow;"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md">
					<div class="form-group">
						<label for="fecha">Fecha de nacimiento</label> <input type="date"
							id="fecha" class="form-control" th:field="*{fechaNac}"> <span
							th:errors="*{fechaNac}" style="color: yellow;"></span>
					</div>
				</div>
				<div class="col-md">
					<div class="form-group">
						<label for="edad">Edad</label> <input type="text"
							class="form-control" id="edad" th:field="*{edad}" readonly="readonly">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md">
					<div class="form-group">
						<label for="departamento">Departamento</label> <select
							class="form-control" id="departamento" th:field="*{departamento}">
							<!--  th:field="*{departamento.idDepartamento}"  -->
							<option value="0">Seleccione una opción</option>
							<option th:each=item:${departamentoLista}
								th:value="${item.idDepartamento}"
								th:text="${item.nombreDepartamento}">
						</select> <span th:if="${resultado == 1}" style="color: yellow;">Debe
							seleccionar un departamento</span>
					</div>
				</div>
				<div class="col-md">
					<div class="form-group">
						<label for="municipio">Municipio</label> <select
							class="form-control" id="municipio" th:field="*{municipio}">
							<!--  th:field="*{municipio.idMunicipio}"  -->
							<option value="0">Seleccione una opción</option>
							<option th:each=item:${municipioLista}
								th:value="${item.idMunicipio}" th:text="${item.nombreMunicipio}">
						</select> <span th:if="${resultado2 == 1}" style="color: yellow;">Debe
							seleccionar un municipio</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="direccion">Dirección de
					residencia</label>
				<textarea class="form-control" id="direccion"
					rows="3" th:field="*{direccion}"></textarea>
				<span th:errors="*{direccion}" style="color: yellow;"></span>
			</div>
			<div class="row">
				<div class="col-md">
					<div class="form-group">
						<label for="nombreUser">Nombre de usuario</label> <input type="text"
							class="form-control" id="nombreUser" th:field="*{nombreUser}"> <span
							th:errors="*{nombreUser}" style="color: yellow;"></span>
					</div>
				</div>
				<div class="col-md">
					<div class="form-group">
						<label for="tipo">Tipo de usuario</label> <select
							class="form-control" id="tipo" th:field="*{tipoUsuario}">
							<option value="">Seleccione una opción</option>
							<option value="0">Administrador</option>
							<option value="1">Coordinador</option>
						</select> <span th:if="${resultado3 == 1}" style="color: yellow;">Debe
							seleccionar un tipo de usuario</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md">
					<div class="form-group">
						<label for="contra">Contraseña</label> <input type="password"
							class="form-control" id="contra" th:value="*{contrasenia}" name="contrasenia"> <span
							th:errors="*{contrasenia}" style="color: yellow;"></span>
					</div>
				</div>
				<div class="col-md">
					<div class="form-group">
						<label for="contra2">Confirmas Contraseña</label> <input
							type="password" class="form-control" id="contra2" name="pass">
					</div>
				</div>
			</div>
			<span th:if="${resultado4 == 1}" style="color: yellow;">Las
				contraseñas no coinciden!</span>

			<div class="form-check" th:if="${tipo == 1}">
				<input class="form-check-input" type="checkbox" th:value="true"
					id="estado" th:field="*{estado}"> <label
					class="form-check-label" for="estado"> Activado </label>
			</div>

			<div class="btn-center">
					<a href="/tablaUsuario" class="btn color-btnSesion">Regresar</a>
					<button type="submit" class="btn color-btnSesion btnAceptar">Registrar</button>
					<a id="limpiar" class="btn color-btnSesion">Limpiar</a>
				</div>
		</form>
	</div>
</body>	
	<script type="text/javascript">
		function calcularEdad(fecha) {
		    var hoy = new Date();
		    var cumpleanos = new Date(fecha);
		    var edad = hoy.getFullYear() - cumpleanos.getFullYear();
		    var m = hoy.getMonth() - cumpleanos.getMonth();
	
		    if (m < 0 || (m === 0 && hoy.getDate() < cumpleanos.getDate())) {
		        edad--;
		    }
	
		    return edad;
		}
		
		$('#fecha').change(function() {
			document.querySelector("#edad").value = calcularEdad(document.querySelector("#fecha").value);
		});
	</script>	
	
	<script type="text/javascript">
		var a = document.getElementById("limpiar");
	
		/* Se agrega el evento al elemento */
		a.onclick = limpiar
		
		if(document.getElementById("id").value != ""){
			document.getElementById("limpiar").style.display="none";	
		}
		
		function limpiar(){
			document.getElementById("nombre").value = "";
			document.getElementById("apellido").value = "";
			document.getElementById("edad").value = "";
			document.getElementById("nombreUser").value = "";
			document.getElementById("contra").value = "";
			document.getElementById("direccion").value = "";
			document.getElementById("contra2").value = "";
			document.getElementById("estado").checked=0;
			document.getElementById("departamento").options[0].selected = true;
			document.getElementById("municipio").options[0].selected = true;
			document.getElementById("tipo").options[0].selected = true;
			document.querySelector("#fecha").value = "dd/mm/aaaa"
			$('#municipio').empty();
			var select = document.getElementById("municipio");
			$("<option/>").val(0).text("Seleccione una opción").appendTo("#municipio");
		}
	</script>

<script type="text/javascript">
	$(document).ready(
			function() {
				$('#departamento').change(
						municipio
				)
			}
	)
	function municipio(){
		var pri = document.getElementById("departamento").value;
		$.ajax({
			type : "POST",
			"serverSide" : true,
			url : "./cargarMunicipios",
			data : {
				draw : pri
			},
			success : function(r) {
				$('#municipio').empty();
				var select = document
						.getElementById("municipio");
				$("<option/>").val(0).text(
						"Seleccione una opción").appendTo(
						"#municipio");
				$.each(r, 
						function(key, val) {
							$("<option/>").val(r[key][0])
									.text(r[key][1])
									.appendTo("#municipio");
						});
			},
			error : function(data) {
				alert('error');
			}
		})
	}
</script>
</html>
