<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Spring MVC / Thymeleaf</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">  

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/datatables-demo.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>

</head>
<script type="text/javascript">
	$(document).ready(function(){
		var table = $('#tablaClientes').DataTable( {
	        "processing": true,
	        "serverSide": true,
	        "ajax": "./cargarclientes",
	        "language": {
	            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
	        },
	        "pageLength": 5,
	        "columnDefs": [ {
	            "targets": 0,
	            "data": null,
	            "defaultContent": "<button class='btn btn-info' title='Editar cliente'><i class='fa fa-pencil-alt'></i></button>"
	        }]
	    });
		$('#tablaClientes tbody').on( 'click', 'button', function () {
	        var data = table.row( $(this).parents('tr') ).data();
	        	location.href = './editarMateria?id=' + data[0];
	    } );
		
	});
</script>
<body id="page-top">

  
    <div id="content-wrapper">

      <div class="container-fluid">
        <div class="card mb-3">
          <div class="card-header">
          	Listado de Usuarios
          </div>
          <div class="card-body">
            <p th:if="${resultado == 1}" class="mb-0">Cliente guardado con &eacute;xito</p><br/>
          	<br/>
          	<table class="table table-bordered" id="tablaClientes" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th style="width: 130px">Acci&oacute;n</th>
                    <th>Nombres</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                  </tr>
                </thead>
            </table>
                
          </div>
        </div>
      </div>
      
  

</body>

</html>