<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Centros Escolares</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
</head>
<body class="tablas-ventana">

	<nav class="navbar navbar-expand-lg navbar-dark bg-menu">
	  <a class="navbar-brand" href="#"><img alt="" src="img/logo.jpeg"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="tablaMaterias">Materias</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="tablaCentroEscolar">Centros Escolares</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="tablaUsuario">Usuarios</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	
	<div class="container tablas center">
		<h1>Centros Escolares</h1>
		<div class="nuevoDato">
			<a class="btn color-linkSesion" href="registroCentroEscolar">Nuevo Centro Escolar</a>
		</div>
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Acción</th>
		      <th scope="col">Codigo</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Municipio</th>
		      <th scope="col">Descripción</th>
		      <th scope="col">Estado</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td>Mark</td>
		      <td>Otto</td>
		      <td>@mdo</td>
		      <td>@mdo</td>
		      <td>@mdo</td>
		    </tr>
		  </tbody>
		</table>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>