
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Centro Escolar</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
 <!-- Bootstrap core JavaScript-->
   <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/datatables-demo.js"></script>
</head>
<script type="text/javascript">
	$(document).ready(function(){
		var table = $('#tablaCentrosEscolares').DataTable( {
			"ordering": false,
	        "processing": true,
	        "serverSide": true,
	        "ajax": "./cargarCentrosEscolares",
	        "language": {
	            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
	        },
	        "pageLength": 5,
	        "columnDefs": [ {
	            "targets": 0,
	            "data": null,
	            "searchable": false,
	            "defaultContent": "<button class='btn btn-info' title='Editar Centro Escolar' id='i'><i class='fa fa-pencil-alt'></i></button> "
	        }]
	    });
		$('#tablaCentrosEscolares tbody').on( 'click', 'button', function () {
	        var data = table.row( $(this).parents('tr') ).data();
	        	location.href = './editarCentroEscolar?id=' + data[0];
	    } );
	});
</script>
<body class="tablas-ventana">

	<nav class="navbar navbar-expand-lg navbar-dark bg-menu"> 
		<a class="navbar-brand" href="#"><img alt="" src="img/logo.jpeg"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"><img alt="" src="img/logo.jpeg"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="tablaUsuario">Usuarios</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="tablaMaterias">Materias</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="tablaCentroEscolar">Centros Escolares</a>
	      </li>
	    </ul>
	  </div>
	  <div class="form-inline">
            <a class="btn btn-secondary btn-light" type="button" aria-haspopup="true" aria-expanded="false" href="/logout"> 
                    Cerrar Sesión
                  </a>
	  </div>
	</nav>
	
	<div class="container tablas center">
		<h1>Centros Escolares</h1>
		<div class="nuevoDato">
			<a class="btn color-linkSesion" href="registroCentroEscolar">Nuevo Centro Escolar</a>
		</div>
		<table class="table" id="tablaCentrosEscolares">
		  <thead>
		    <tr>
		    <th style="width: 130px">Acci&oacute;n</th>
		      <th scope="col">Codigo</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Municipio</th>
		      <th scope="col">Descripción</th>
		      <th scope="col">Estado</th>
		    </tr>
		  </thead>
		</table>
	</div>

</body>
</html>